/* Global Style  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: black;
}

body a {
  text-decoration: none;
  color: #e9c08a;
}

body ul {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  padding: 2rem;
}

#logo {
  text-align: center;
  color: #e9c08a;
  font-size: 3rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#logo::after {
  position: absolute;
  bottom: -5%;
  right: 100%;
  content: " ";
  width: 100%;
  height: 0.5rem;
  display: inline-block;
  background: #e9c08a;
  animation: before 2s ease-in-out infinite alternate-reverse;
}

#logo::before {
  position: absolute;
  top: -5%;
  left: 100%;
  content: " ";
  width: 100%;
  height: 0.5rem;
  display: inline-block;
  background: #e9c08a;
  -webkit-animation: before 2s ease-in-out infinite alternate;
          animation: before 2s ease-in-out infinite alternate;
}

.search-form {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form input {
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  border: none;
  border: 2px solid #e9c08a;
}

.search-form button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: medium;
  background: #e9c08a;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-form button:hover {
  border: 1px solid #e9c08a;
  background: black;
  color: #e9c08a;
}

.gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem 0rem;
  row-gap: 5rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

p,
a {
  color: #e9c08a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-img:hover p,
.gallery-img:hover a {
  -webkit-transform: translateY(-120%) scale(1.1);
          transform: translateY(-120%) scale(1.1);
}

.gallery-img:hover p:hover,
.gallery-img:hover a:hover {
  -webkit-transform: translateY(-120%) scale(1.3);
          transform: translateY(-120%) scale(1.3);
}

.gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-button {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: #e9c08a;
  color: black;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more:hover {
  border: 1px solid #e9c08a;
  background: black;
  color: #e9c08a;
}

.more:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@-webkit-keyframes before {
  from {
    left: 130%;
  }
  to {
    left: -130%;
  }
}

@keyframes before {
  from {
    left: 130%;
  }
  to {
    left: -130%;
  }
}

@media (max-width: 900px) {
  #logo {
    font-size: 2rem;
  }
  .search-form {
    width: 90%;
    margin: auto;
  }
  .search-form input {
    width: 80%;
    font-size: 1rem;
  }
  .search-form button {
    width: 20%;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .gallery {
    width: 70%;
  }
  #logo::after,
  #logo::before {
    height: 0.3rem;
  }
}
/*# sourceMappingURL=style.css.map */