// Variables
$black: #212121;
$gold: #e9c08a;

/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: black;

  a {
    text-decoration: none;
    color: $gold;
  }
  ul {
    list-style: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  h2 {
    padding: 2rem;
  }
}

#logo {
  text-align: center;
  color: $gold;
  font-size: 3rem;
}

.search-form {
  padding: 2rem;
  display: flex;

  input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border: 2px solid $gold;
  }
  button {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background: $gold;
    color: black;
    cursor: pointer;
  }
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem 0rem;
  row-gap: 5rem;
  column-gap: 3rem;
}

p,
a {
  color: $gold;
  transition: all 0.3s ease-in-out;
}

.gallery-img:hover {
  img {
    transform: scale(1.1);
  }
  p,
  a {
    transform: translateY(-120%) scale(1.1);
    &:hover {
      transform: translateY(-120%) scale(1.3);
    }
  }
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  #logo {
    font-size: 2rem;
  }
  .search-form {
    width: 90%;
    margin: auto;
    input {
      width: 80%;
      font-size: 1rem;
    }
    button {
      width: 20%;
    }
  }

  .gallery {
    width: 70%;
  }
}
